// Colores

$white:#fff;
$snow: #fafafa;
$quicksilver: #a0a0a0;

$jellybean: #e56353;
$salmon: #e97f72;
$pastelpink: #f0a9a1;

$taupegray: #91918d;
$granitegray: #686963;
$gray: #babab8;

// tipografia

$Raleway: 'Raleway', sans-serif;

$regular: 400;
$ligth: 300;
$bold: 700;

$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
// $small: 14px;
// $x-small: 12px;
