.heroe {
    background-color: $jellybean;
    color: $white;
    text-align: center;
    padding: 15%;
}

.tomates_organicos {
    background-color: $quicksilver;
    color: $white;
    padding: 10%;
    text-align: center;

    img {
        width: 100%;
        padding-bottom: 3%;
    }

    h3 {
        margin-bottom: 0;
    }
}

.limacheAmor {
    background-color: $snow;
    color: $granitegray;
    padding: 10%;
    text-align: center;

    img {
        width: 100%;
        padding-bottom: 3%;
    }

    h3 {
        margin-bottom: 0;
    }
}

.nosotrosT {
    background-color: $jellybean;
    color: $white;
    padding: 7%;
    text-align: center;
}

.nosotros {
    background-color: $snow;
    color: $granitegray;
    padding: 7%;
    text-align: center;

    img {
        width: 40%;
        padding-bottom: 3%;
    }

    h3 {
        margin-bottom: 0;
    }

}
.javiera{
    padding-top: 2%;
}
.roberto{
    padding-top: 4%;
}

.contactame {
    background-color: $jellybean;
    color: $white;
    padding: 7%;
    text-align: center;

    h4 {
        margin: 0;
        padding-bottom: 2%;
    }
    
}
